<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Login page chrome tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.sauce_se.tests.LoginPageTest">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="Login page firefox tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.sauce_se.tests.LoginPageTest">
            </class>
        </classes>
    </test>
</suite>